/* Universal Selector */
* {
    box-sizing: border-box;
    margin:0;
    padding:0;  
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
    width: 100%;
    height: 1300px;
}


h1 {
    color:#2A9D8F;
    background-color: #13243e;
    padding: 15px;
    width: 100%;
    font-weight: bold;
    font-size: 35px;
}

.sub-title {
    text-align: start;
    color: #2A9D8F;
    margin-top: auto;
    margin-left: 10px;
}
.sub-title:hover {
    color: white;
    font-size: 1em;
    font-style: italic;
}

h3 {
    font-size: 30px;
}

header {
    display: flex;
    flex-basis: auto;
    justify-content: space-between;
    font-weight: bold;
}


ul {
    display: flex;
    list-style-type: none;
    overflow: hidden;
    background-color: white;
    height: 100%;
    width: 100%;
    justify-content: stretch;
}
  
  
li a {
    display: inline;
    color: #2A9D8F;
    text-align: center;
    text-decoration: none;
}
  
  /* Change the link color to #111 (black) on hover */
  /* src=https://www.w3schools.com/css/css_navbar_horizontal.asp */
li a:hover {
    display: block;
    color: white;
}

#hero {
    width: 100%;
    min-height: 283px;
    margin-bottom: 25px;
    background-image: url(../images/Screen\ Shot\ 2022-06-23\ at\ 5.40.05\ PM.png);
    background-size: cover;
    background-position: center;
}

/* This closes the header */

/* This starts the main */

p {
    line-height: 140%;
}

.wrapper {
    background-color: white;
    margin-bottom: 75px;
    width: 100%;
    font-size: 20px;
}

.Surf-Report {
    margin: 5px;
    height: 350px;
    width: 100%;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(../images/surf-report.jpeg);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.work-content {
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 20px;
    grid-row-gap: 10px;
    grid-column-gap: 10px
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.led {
    margin: 10px;
    height: 350px;
    width: 100%;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(../images/SamsungLED_Mockup12_1440x645-091112.webp);
}

.Calc {
    margin: 10px;
    height: 350px;
    width: 100%;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(../images/Screen\ Shot\ 2022-06-24\ at\ 4.07.32\ PM.png);
}

.PP {
    margin: 10px;
    height: 350px;
    width: 100%;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(../images/Screen\ Shot\ 2022-06-24\ at\ 4.10.15\ PM.png);
}

.Run-Buddy {
    margin: 10px;
    height: 350px;
    width: 100%;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(../images/Screen\ Shot\ 2022-06-24\ at\ 4.13.27\ PM.png);
}

#Work {
    height: 1000px;
    width: 100%;
    font-size: 20px;
}

/* This ends the main */

/* This starts the footer */

footer {
    display: flex;
    background-color: #13243e;
    color: #2A9D8F;
    font-weight: bold;
    padding: 14px 16px;
    text-decoration: none;
    width: 100%;
}

footer ul {
    background-color: #13243e;
    justify-content: flex-end;
}


li{
    display: block;
    color: #2A9D8F;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #13243e;
}

li:hover {
    color: white;
    font-size: 1em;
    font-style: italic;
}

h5 {
    font-size: 120%;
    display: inline-block;
    width: 15%;
    align-self: center;
}

#Contact-Me {
    display: flex;
    justify-content: flex-start;
    color: #2A9D8F;
    text-align: left;
    text-decoration: none;
    background-color: #13243e;
    float: left;
}